<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Closeknit Bazaar</title>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> 
</head>
<body>
    <header>
        <h1>Closeknit Bazaar <img src="/images/android-chrome-192x192.png" alt="Joel Strong"></h1>
    </header>
        <nav>
            <a href="/">Home</a>
            <a href="/people">People</a>
            <a href="/households">Households</a>
            <a href="/neighborhoods">Neighborhoods</a>
            <a href="/offers">Offers</a>
            <a href="/offerTypes">Offer Types</a>
            <a href="/transactions">Transactions</a>
        </nav>

    {{{body}}}

</body>
</html>