<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <!--Use your name in the title tag-->
        <title>Closeknit Bazaar</title>
        <link rel='stylesheet' type='text/css' media='screen' href='/public_html/Data-Dragons/views/layouts/main.css'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"> 
</head>
<body>
    <h2>Return to Main Menu: <li><a href="/">Main</a></li></h2>
    {{{body}}}

</body>
</html>