<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Closeknit Bazaar</title>
        <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"> 
</head>
<body>
    <h1>Closeknit Bazaar</h1>
    <h2><a href="/">Return to Main Menu</a></h2>
    {{{body}}}

</body>
</html>