<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->  

    <h2>Select a table to modify using the Nav Bar above.</h2>

    <p>Neighborhoods should be vibrant communities with people from different households interacting and working together to make one another's lives better and easier. Additionally, with the cost of goods and services continually increasing, the need to come together to share resources as a community is higher than ever. One solution to aid in both of these problems is CloseKnit Bazaar, a web application that serves as a centralized hub for sharing of goods and services within a community. Missing your 10 mm socket head, or need your lawn mowed while out of town? Someone on CloseKnit Bazaar might have that on offer. Have some spare time and want to offer to walk someone's dog, or lend a pressure washer you hardly use? You can post an offer on CloseKnit Bazaar. Although sharing can be taken advantage of, we propose a system of exchange based on ‘Karma’ points rather than currency, which must be maintained above a minimum value to participate. When an offering is posted, the poster can specify a Karma amount to be paid by the receiver. This reputation based system of currency facilitates frequent offering and trading of otherwise underutilized resources resulting in a more connected community, monetary savings for participants, and increases the likelihood of individuals helping each other. The CloseKnit Bazaar web application is built to support an initial build size of 200 individual Neighborhoods, with a target of 65 of homes and 250 people per Neighborhood. As a startup, we are aiming to start in a limited geographical area, and support an initial 50,000 people.</p>

    <div class="centered">
        <img src="images/schema.jpg" alt="Database schema" width="700"/>
    </div>



