<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<h2>Neighborhood Table</h2>
<table id="neighborhood-table">
    {{!-- Header section --}}
    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.neighborhoodId}}</td>
            <td>{{this.neighborhoodName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Neighborhood</h2>
<form id="add-neighborhood-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_neighborhood.js"></script>
