<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<h2>Offer Types Table</h2>
<table id="offer-type-table">
    <thead>

        <tr>
            <th>Offer Type Id</th>
            <th>Offer Type</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.offerTypeId}}</td>
            <td>{{this.offerType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an Offer Type</h2>
<form id="add-person-form">
    <label for="input-offer-type">Offer Type: </label>
    <input type="text" name="input-household-address" id="input-household-address">

    <input type="submit">
</form>


