<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<table id="offer-type-table">
    <h2>Offer Types Table</h2>
    <thead>

        <tr>
            <th>Offer Type Id</th>
            <th>Offer Type</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.offerTypeId}}</td>
            <td>{{this.offerType}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an Offer Type</h2>
<form id="add-offer-type-form-ajax">
    <label for="input-offer-type">Offer Type: *</label>
    <input type="text" placeholder = "Category - Type" name="input-offer-type" id="input-offer-type" required>

    <input type="submit" value="Add Offer Type">
    <input type="reset" value="Reset Form">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_offer_type.js"></script>
