/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */

/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */

  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*   ----- Variables  -----  */
:root {
    --color-sky-blue: #96BFD9;
    --color-grey-blue: #b4d1dddd;  /* transparency */
    --color-trans-grey-blue: #c1d6d6df;  /* transparency */
    --color-cream: #ECEBDB;
    --color-light-orange: rgb(236, 208, 170);
    --less-light-orange: rgb(235, 200, 150);
    --color-dark-brown: #483e38;
    --blueberry: #6b7a8f;
    --tan: #DCC7AA;
    --navy: #1c1f4c;
    --trans-navy: #1c1f4c95;  /* transparency */
    --rust: #9b5913;
    --blend-blue: rgb(153, 175, 205);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  html {
  }

  body { 
    background-color: var(--color-trans-grey-blue);


    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: var(--color-dark-brown);

    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    background-color: var(--navy);
    text-align: center;
    color: var(--color-cream);
    height: 70px;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    top: 0;
    border-radius: 9px;
  }
  header img {
    position: relative; 
    top: 7px;
    height: 45px;
  }

  main {
    background-color: var(--color-trans-grey-blue);
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 10px;
    border: solid var(--color-dark-brown);
    border-width: 2px;
    border-radius: 9px;

  }
  section {}
  article {}
    #topic1 {}
    #topic2 {}
  div {}
  aside {
    width: 30%;
    padding-left: 1%;
    margin-left: 1%;
    float: right;
    box-shadow: inset 5px 5px 5px -5px var(--navy);
    font-style: italic;
    color: var(--rust);
  }


  footer {
    background-color: var(--navy);
    text-align: center;
    color: var(--color-cream);
    width:100%;
    position: relative;
    bottom:0;
    left:0;
    height: 35px;
    border-radius: 9px;
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    height: 35px;
    background: linear-gradient(90deg, var(--blend-blue) 0%, var(--blueberry) 50%, var(--blend-blue) 100%);
  }
  nav a {
    color:var(--color-cream);
    border: 2px solid var(--color-grey-blue);
    border-width: 0 1px 0 1px;
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    padding: 4px 25px 4px 25px;
  }
  nav a:hover {
    background-color:var(--trans-navy);
  }
  
  /*  -----  Typography  ----- */
  p {
    margin: 2%;
  }
  br {}
  ol, ul, dl {
    font-size: 2.2em;
    margin: 2%;
  }
  li {}
  dt {}
  dd {}
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
  h2 {
    font-family: 'DM Serif Display', serif; 
    font-size: 2.2em;
    text-align: center;
  }

  h3, h4 { 
    font-family: 'DM Serif Display', serif; 
    font-size: 1.7em;
    margin: 0px;
} 

h5, h6 { 
  font-family: 'DM Serif Display', serif; 
  font-size: 1.3em;
  margin: 0px;
} 

  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {font-weight: 700}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border-collapse:collapse;
    border: 2px solid var(--navy);
    margin-bottom: 2%;
    width: 100%;
  }
  caption {
    color:var(--navy);
    font-weight:bold;
    padding:1% 0;
  }
  thead {

    color: var(--color-cream);
    background-color:  var(--navy);
  }
  tbody {
    text-align:right;
  }
  tfoot {}
  tr, td {
    border-bottom:1px solid var(--color-dark-brown);
  }
    tr:nth-child(even) {
      background-color:  var(--color-grey-blue);
    }


  tr {

  }
  th {
    padding:1%;
    text-align: right;
  }
  td {}
  td:nth-child(1) {}

  table img {
    border: solid var(--color-dark-brown);
    border-width: 2px;
    border-radius: 9px;
  }

  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */j
  form, button, input, select, textarea {
    font-family: 'Titillium Web', sans-serif;
  }
  form {
    border: 2px solid var(--navy);
    font-size: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-top: 40px;
  }
  fieldset {
    border: 2px solid var(--color-dark-brown);
    width: 60%;
    display: block;
    text-align: center;
 
  }
  legend {
    background-color: var(--trans-navy);
    color: var(--color-light-orange);
    border: 2px solid var(--navy);
    padding: 1%;

  }
  label {
    display: block;
    margin-top: 2%;
    color: var(--color-dark-brown);
    font-size: 120%;
  }
  button {
    font-size: 100%;
    color: var(--navy);
    margin: 5px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: grey;
    border-radius: 5px;
  }

  input {
    padding: 5px;
    font-size: 110%;
    background-color: var(--color-cream);
    width: 50%;
  }

  input[type=submit] {
    font-size: 120%;
    font-weight: 600;
    color: var(--navy);
    margin: 5px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: grey;
    border-radius: 5px;
  }

  select {}
    optgroup {}
    option {}

  input[type=textarea] {
    padding: 1%;
    font-size: 110%;
    height: 200px;
    background-color: var(--color-cream);
    align-items: center;
  }
  output {}
  meter {}
  progress {}
  
  *:required {
    border:2px solid green;
}
.address {
  width: 90%;
}

.form_intro {
  text-align: center;
}
  
  /* ----- Media ----- */
  figure {
    /* flex attribute inherited from .gallery class */
    flex-basis: 400px;
  }

  figcaption {
    text-align: center;
    padding: 1%;
  }

  figure img {
    border: 3px solid var(--color-dark-brown);
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px;
  }

/* The below dropdown CSS starter code sourced from https://stackoverflow.com/questions/1337149/how-do-i-style-form-drop-down-lists */

.selection {
  padding: 5px;
  font-size: 100%;
  background-color: var(--color-cream);
  margin-bottom: 1%;
  border: 1px solid grey;
}

select {
  border: 0;
  background:transparent;
  height:25px;
  font-size: 110%;
  width:350px;
  margin: 2%;
}


  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

.local {
  display: flex;  /* repeated to meet requirement - not necessary due to cascade */
  flex-wrap: wrap;
  background: linear-gradient(90deg, var(--color-trans-grey-blue) -25%, var(--less-light-orange) 50%, var(--color-trans-grey-blue) 125%);
}
.local a {
  background: var(--less-light-orange);
  color:var(--color-dark-brown);
  font-size: 1.2em;
  font-weight: 300;
  padding: 4px 15px 4px 15px;
}

.local a:hover {
  color: var(--color-light-orange);
  background: var(--trans-navy);
}

.centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-family: 'DM Serif Display', serif; 
  text-align: left;
}

.warning {
  color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  